<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub1_category.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sub1_category.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sub1_category.category %>
</p>

<%= link_to 'Edit', edit_sub1_category_path(@sub1_category) %> |
<%= link_to 'Back', sub1_categories_path %>
